<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

This template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        CalorieConsumptionType:
          List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="content">
    <h1>Listing for CalorieConsumptionType</h1>

    <f:flashMessages />

    <table class="tx_askcaloriecounter">
        <tr>
            <th><f:translate key="tx_askcaloriecounter_domain_model_calorieconsumptiontype.title" /></th>
            <th></th>
            <th></th>
        </tr>
        <f:for each="{calorieConsumptionTypes}" as="calorieConsumptionType">
            <tr>
                <td><f:link.action action="show" arguments="{calorieConsumptionType : calorieConsumptionType}">{calorieConsumptionType.title}</f:link.action></td>
                <td><f:link.action action="edit" arguments="{calorieConsumptionType : calorieConsumptionType}">Edit</f:link.action></td>
                <td><f:link.action action="delete" arguments="{calorieConsumptionType : calorieConsumptionType}">Delete</f:link.action></td>
            </tr>
        </f:for>
    </table>

    <f:link.action action="new">New CalorieConsumptionType</f:link.action>
</f:section>
</html>
